body {
    margin:0;
    padding:0;
    overflow: hidden;
}

#font {
    color: white;
    animation: glowBlink 1.5s infinite;
  }

  @keyframes glowBlink {
    0% {
      text-shadow: none;
      opacity: 0.8;
    }
    50% {
      text-shadow: 0 0 10px #74ebd5, 0 0 20px #9face6;
      opacity: 1;
    }
    100% {
      text-shadow: none;
      opacity: 0.8;
    }
  }

#area {
    margin:0px;
    padding:0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    text-align:center;
}
